 
h1{
    border-radius: 30px;
    margin:20px ;
    border:5px rgb(255, 127, 127) solid;
    text-align: center;
    text-decoration-style: wavy;
    padding: 40px;
    background-color:  rgb(243, 243, 243);
} 
h1:hover{
 box-shadow: 4px  4px 10px rgb(104, 99, 101);

}
h4{
  font-weight: bolder ;
  font-style: italic;
  color:crimson;
}
h4:hover{
 text-shadow: 4px  4px 10px rgb(104, 99, 101);
}

.row{
margin:0 auto;
/* padding:10px; */

}

 *{
   font-family: 'Times New Roman', Times, serif;
   
}
body{
 margin: 0;
 padding:0;
background-color:black;
}
.center{
 padding:60px 0px;
}
.center-info{
 padding:60px 10px;
 margin:30px 0px;
 border:black;
}
.text{
 margin:20px 0px;
}
.con{
 border: 5px solid rgb(255, 127, 127);
 border-radius: 20px 30px 47px 20px;
 margin:1px 30px 15px 45px;
 transition: all 0.2s;
 background-color: rgb(243, 243, 243);
}
.con:hover{
 box-shadow: 6px  6px 12px gray;
}
/* @media screen and (max-width:500px){
    .col-sm-3{
        display: flex;
    } 
} */